{% extends 'pages/base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="row d-flex justify-content-center flex-column align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                <div style="border: 1px solid #00B74A;" class="d-flex align-items-center justify-content-center pt-3">
                    <p>Confirmation email sent to {{request.user.email}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center flex-column text-center">
                <h3>Verify Your E-mail Address </h3>
                <p> We have sent you an email for verification. follow the link to finalize the signup process. 
                    Please contact us if you do not recieve it within a few minutes.
                </p>
            </div>
        </div>
    </div>
{% endblock %}